.App {
  text-align: center;
}
.test{
    margin-bottom: 5em;

}
.searchBtn{
    margin-left: 57em;
    padding: 10px !important;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 25px;
    margin-top: 3px;
    color: #ffffff !important;
    font-weight: 900;
    background-color: #55B55C
}
.pictureDiv{
    padding:13px;
    width:100%;
    box-shadow:0 13px 20px 0px rgba(0,0,0,.1);
    border-radius:4px;
    margin-bottom:25px;
    border:1px solid #e7ecf1 !important;
}
.portlet-body{
    width:100%;
    padding-right:0px;
    box-shadow:0 13px 20px 0px rgba(0,0,0,.1);
    border-radius:4px;
    margin-bottom:25px;
    margin-left:-44px;
    border:1px solid #e7ecf1 !important;
}
.App-banner{
    background: #eef1f5;
    color:#578ebe ;
    margin-left:-15px;

}
.nameDiv{
    padding-left:0px;

}
/*.portlet-body{*/
/*padding-top:8px;*/
    /*padding:15px;*/
    /*border-radius:0 0 4px 4px;*/
    /*min-height:300px;*/
/*}*/
.row{
    box-sizing:border-box;
    margin-right:-15px;
    margin-left:-15px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.profile-sidebar-portlet {
    padding: 30px 0 0 0 !important;
    position:relative;
}
.portlet.light.bordered { border: 1px solid #e7ecf1 !important; box-shadow: 0 13px 20px 0px rgba(0,0,0,.1);}
.profile-userpic img,img#pictureEdit {
    float: none;
    margin-left:63px;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important; }
.picName{
    padding-left:6em;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
